
body { 
color: #333;
font: 12px/18px Lucida Grande, Arial, sans-serif;
	background-image: url("background.jpg");
    
}

canvas { 
/*margin: 20px 0;*/
background: #ddd;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#container { 
width: 900px;
margin: 50px auto;
padding: 15px;
background-color: #ffffff;
-webkit-box-shadow: -2px -1px 9px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -2px -1px 9px 0px rgba(0,0,0,0.75);
box-shadow: -2px -1px 9px 0px rgba(0,0,0,0.75);
}



h1, h2, h3, h4, h5, h6 {
    font-family: Lucida Grande, arial, sans-serif;
    color: #222;
    margin: 15px 0;
	
}

h2, h3, h4, h5, h6 {
    border-bottom: 1px dotted #BBB;
	
}


h1 {
     font-size: 4em;
}

h2 code { 
font-weight: normal;
font-size: 15px;
}


hr { 
height: 2;
clear: both;
border: 0;
/*background-color: #eee;
margin: 15px 0 18px 0;*/
}

code { 
font-family: Monaco, monospace;
color: #333;
}

.hidden {
display: none;
}

.screenshot {
width: 100%;
box-shadow: 3px 3px 5px #888888;
}

.type {
/*display: block;*/
/*float: right;*/
/*font-weight: normal;*/
border-radius: 5px;
/*background-color: #000;*/
color: white;
font-size: 9px;
/*font-weight: bold;*/
padding: 2px 5px;
/*margin-right: -80px;*/
text-align: center;
width: 35px;
}

.void { 
background-color: #000;
}

.object { 
background-color: #960039;
}

.event { 
background-color: #e30b5d;
}

.number { 
background-color: #3380FF;
}

.string { 
background-color: #48BD00;
}

.dom { 
/*font-size: 8px;*/
background-color: #999;
}

.boolean { 
background-color: #536895;
}

.hint {
display: block;
color: #666;
font-style: italic;
}


a:link {
color: #C12942;
}

a:visited {
color: #53263A;
}

a:hover {
color: #50797B;
}

a:active {
color: #D95B44;
}


pre { 
padding: 10px;
background-color: #333;
max-width: 900px;
font: 11px Monaco, monospace;
clear: both;
}


.hilite {background-color:#ccc;
padding:2px;
border-radius:2px;
}

.lite {background-color:#aaa;
color:#000;
padding:2px;
border-radius:2px;
}

.darklite {background-color:#333;
color:#fff;
padding:2px;
border-radius:2px;
}

.code {
font-family: monospace; 
background-color:#eee;
padding:2px;
border-radius:2px;
}


table {
    border: 0px solid  #eeeeee;
    width: 100%;
    border-collapse: collapse;
    background-color: #eeeeee;
}



td.first {
    width: 300px;
    white-space:nowrap;
}

td.second {
    width: 40px;
}

td, th {
   vertical-align:top;
    border: 0px solid #98bf21;
    padding: 3px 7px 2px 7px;
    
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    /*color: #ffffff;*/
}

tr.alt, td {
    color: #000000;
    /*background-color: #EAF2D3;*/
}

/* SPAN elements with the classes below are added by prettyprint. */
.str { color: #48BD00; }
.kwd { color: #e30b5d; }
.com { color: #aaa; }
.typ { color: #bbb; }
.lit { color: #0094D9; }
.pun { color: #FF9900; }
.opn, .clo { color: #FF9900; }
.pln { color: #ddd; }
.tag { color: #666; }
.atn { color: #666; }
.atv { color: #888; }
.dec { color: #707; }